@tailwind base;
@tailwind components;
@tailwind utilities;

/* INPUT ESTILO RITTO */
.input-ritto {
  @apply 
    w-full 
    bg-white/5 
    border 
    border-white/20 
    text-white 
    rounded-2xl 
    p-3 
    text-sm 
    focus:ring-2 
    focus:ring-blue-400 
    transition-all 
    duration-300;
}
